{{error.message}}
<form>
<div class="form-group">

Enter email id
<input type="email" ng-model="user.email" class="form-control">  
</div>

<div class="form-group">
Enter Password
<input type="password" ng-model="user.password" class="form-control">  
</div>

<div class="form-group">
Enter FirstName
<input type="text" ng-model="user.firstname" class="form-control">  
</div>
<div class="form-group">
Enter lastname
<input type="text" ng-model="user.lastname" class="form-control">  
</div>

<div class="form-group">
Enter Phonenumber
<input type="text" ng-model="user.phonenumber" class="form-control">  
</div>


<div class="form-group">
<select ng-model="user.role">
<option value="STUDENT">Student
<option value="EMPLOYEE">Employee
<option value="ALUMNI">Alumni
</select>

<input type="submit" ng-click="registerUser(user)" value="Register">  










</div>











</form>